header {
    display: flex;
    justify-content: center;
}

header h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 80px;
    color: #fff;
}

body {
    background-image: url(./nigru.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-principal {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0px;
    left: 45px;
    bottom: 0;
}

nav {
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 40px;
    gap: 60px;
}


.foto-perfil {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    transition: all 0.4s ;
}

.foto-perfil:hover {
    transform: scale(1.1);
}

.nome {
    font-size: 40px;
    color: #fff;
}

img {
    width: 200px;
    height: 250px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 15px;
}

footer a {
    padding-left: 3px;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: aquamarine;
}

@media (max-width: 1024px) {

    .foto-perfil {
        width: 150px;
        height: 150px;
    }    

}

@media (max-width: 768px) {
    
    .foto-perfil {
        width: 100px;
        height: 100px;
    }

}

@media (max-width: 425px) {

    nav {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        gap: 20px;
        position: relative;
        justify-content: left;
        width: 100%;
        padding-left: 15px;
    }

    .nome {
        padding-left: 20px;
        color: #fff;
    }

    .conteudo-principal {
        position: relative;
        padding-top: 25px;
        left: 0;
    }

    .perfil {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    footer {
        position: relative;
    }
}