@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: #00f;
    padding-top: 160px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #00f;
    z-index: 1;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

header nav {
    display: flex;
    gap: 50px;
    font-size: 40px;
    align-items: flex-end;
    width: 400px;
    justify-content: space-evenly;
    margin-right: 20px;
}

header nav a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 0 15px;
    border: 2px solid #fff;
    transition: 0.3s ease;
    color: #fff;
}

header nav a:hover {
    background-color: #fff;
    color: #000;
}

header a.titulo {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 800;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.conteudo {
    margin: 30px 0;
    margin-bottom: 0;
}

.conteudo h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.conteudo h2 {
    text-align: center;
    color: #fff;
}

.fotos {
    display: flex;
    justify-content: center;
}

.fotos p {
    position: absolute;
    color: #fff;
    padding-top: 75px;
    text-align: center;
}

.container {
    margin-bottom: 40px;
}

.container-foto {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: center;
}

.container-foto p {
    width: 200px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

.ze-e-namorada {
    height: 600px;
}

.ze-e-amigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
}

.ze-e-amigos p {
    position: relative;
    width: 100%;
    padding: 0;
}

.ze-e-cia {
    width: 600px;
}

img {
    width: 400px;
    height: 450px;
}

video {
    width: 450px;
}

audio {
    width: 500px;
}
.audios {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    height: 30px;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}

footer a {
    padding-left: 3px;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: cyan;
} 

h2 {
    font-size: 35px;
}

@media (max-width: 875px) {
    
    header {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        align-items: center;
        padding: 25px 0px;
        width: 100%;
    }

    header nav {
        margin: 25px 5px 0 5px;
        gap: 15px;
    }

    header nav a {
        padding: 0 4px;
        font-size: 32px;
    }

    .container-foto {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        justify-content: center;
        width: 100%;
    }
    


    .conteudo h1 {
        font-size: 25px;
        display: flex;
        justify-content: center;
        color: #fff;
    }
    
    .conteudo h2 {
        font-size: 20px;
        text-align: center;
        color: #fff;
    }

    .ze-e-namorada {
        height: 300px;
        width: 250px;
    }

    .fotos p {
        position: absolute;
        color: #fff;
        padding-top: 35px;
        text-align: center;
    }

    .ze-e-cia {
        width: 300px;
        height: 250px;
    }

    .ze-e-amigos p {
        position: relative;
        width: 300px;
        padding: 0;
        font-size: 15px;
    }

    audio {
        width: 300px;
    }

    video {
        width: 250px;
    }
}