@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: #00f;
    padding-top: 160px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #00f;
    z-index: 1;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

header nav {
    display: flex;
    gap: 50px;
    font-size: 40px;
    align-items: flex-end;
    width: 400px;
    justify-content: space-evenly;
    margin-right: 20px;
}

header nav a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 0 15px;
    border: 2px solid #fff;
    transition: 0.3s ease;
    color: #fff;
}

header nav a:hover {
    background-color: #fff;
    color: #000;
}

header a.titulo {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 800;
}

main {
    display: flex;
    justify-content: flex-start;
}

.conteudo {
    margin: 30px;
    margin-bottom: 0;
}

.conteudo h1 {
    font-size: 60px;
    display: flex;
    justify-content: flex-start;
    color: #fff;
}

.conteudo h2 {
    color: #fff;
}

.fotos {
    display: flex;
    justify-content: center;
}

.fotos p {
    position: absolute;
    color: #fff;
    padding-top: 75px;
    text-align: center;
}

.container {
    margin-bottom: 40px;
}

.container-foto {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.container-foto p {
    width: 200px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

.ze-e-namorada {
    height: 600px;
}

.ze-e-amigos {
    display: flex;
    align-items: center;
}

.ze-e-amigos p {
    position: relative;
    width: 250px;
    padding: 0;
}

.ze-e-cia {
    width: 600px;
}

img {
    width: 400px;
    height: 450px;
}

video {
    width: 450px;
}

audio {
    width: 500px;
}
.audios {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    height: 30px;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}

footer a {
    padding-left: 3px;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: cyan;
} 

h2 {
    font-size: 35px;
}