@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: purple;
    padding-top: 200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: purple;
    z-index: 1;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header .logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

header nav {
    display: flex;
    gap: 50px;
    font-size: 40px;
    align-items: flex-end;
    width: 400px;
    justify-content: space-evenly;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 0 15px;
    border: 2px solid #fff;
    transition: 0.3s ease;
    color: #fff;
}

header nav a:hover {
    background-color: #fff;
    color: #000;
}

header a.titulo {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 800;
    color: #fff;
}



main {
    display: flex;
    justify-content: center;
}

main h1 {
    color: #fff;
}

.conteudo {
    margin: 30px 0;
    margin-bottom: 0;
}

.conteudo h1 {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.fotos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.fotos p {
    position: absolute;
}

.container {
    margin-bottom: 40px;
}

.container-foto {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
}

.container-foto p {
    width: 200px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

.nat-friends {
    width: 600px;
}

img {
    width: 400px;
    height: 450px;
}



footer {
    display: flex;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 18px;
}

footer a {
    padding-left: 3px;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: cyan;
} 

video {
    width: 450px;
}

@media (max-width: 875px) {
    header {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        align-items: center;
        padding: 25px 40px;
    }

    header nav {
        margin: 25px 5px 0 5px;
        gap: 20px;
    }

    header nav a {
        padding: 0 5px;
        font-size: 32px;
    }

    .container {
        justify-content: center;
    }

    .fotos {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
    }

    .conteudo h1 {
        font-size: 40px;
        display: flex;
        justify-content: center;
    }

    img {
        width: 300px;
        height: 350px;
    }
    
    video {
        width: 250px;
    }

    .nat-friends {
        width: 320px;
        height: 300px;
    }

}